div.ANNOUNCE {
    width: calc(100% - 20px);
    height: min(100%,500px);
    position: relative;
    left: 10px;
    font-family: var(--ActiveText);
    color: var(--TextColor);
    /*margin-bottom: 10px;/**/
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(255,255,0,0.1));
}
div.Announcement {
    margin: 25px 25px 25px 25px;
    text-align: justify;
}
div.AnnounceHead{
    border-bottom: 1px solid var(--TextColor);
    text-transform: uppercase;
    font-variant-caps: small-caps;
    margin-bottom: 5px;
    white-space: nowrap;
}
div.AnnounceHead::before{
    content: "> "
}
div.AnnounceBody {
    font-size: 1.125em;/*calc( var(--TextSize) * 1.0);/**/

}

span.adate {
    font-weight: 600;
    background-color: var(--TextColor);
    color: var(--BackgroundColor);
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.125em;/*calc( var(--TextSize) * 1.0);/**/
}
span.atitle {
    font-weight: 600;
    font-size: 1.125em;/*calc( var(--TextSize) * 1.0);/**/
}