div.ANNOUNCE {
    width: calc(100% - 20px);
    height: min(100%,500px);
    position: relative;
    left: 10px;
    font-family: var(--ActiveText);
    color: var(--TextColor);
    /*margin-bottom: 10px;/**/
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(255,255,0,0.1));
}
div.Announcement {
    margin: 25px 25px 25px 25px;
    text-align: justify;
}
div.AnnounceHead{
    border-bottom: 1px solid var(--TextColor);
    text-transform: uppercase;
    font-variant-caps: small-caps;
    margin-bottom: 5px;
    white-space: nowrap;
}
div.AnnounceHead::before{
    content: "> "
}
div.AnnounceBody {
    font-size: 1.125em;/*calc( var(--TextSize) * 1.0);/**/

}

span.adate {
    font-weight: 600;
    background-color: var(--TextColor);
    color: var(--BackgroundColor);
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.125em;/*calc( var(--TextSize) * 1.0);/**/
}
span.atitle {
    font-weight: 600;
    font-size: 1.125em;/*calc( var(--TextSize) * 1.0);/**/
}

@keyframes announcer {
    0%      {bottom: 105dvh;}
    10%     {bottom: calc( var(--NotifyPosition) - var(--AnnouncementHeight));}
    90%     {bottom: calc( var(--NotifyPosition) - var(--AnnouncementHeight));}
    100%    {bottom: 105dvh;}
}

div.NOTIFY {
    position: absolute;
    left:50vw;
    bottom: var(--NotifyPosition);
    transform: translateX(-50%);
    width: min(60vw,800px);
    min-height: 100px;
    background-color: var(--MidgroundColor);
    /* transition: bottom 0.6s ease-in-out; /**/
    display:inline-flex;
    flex-direction: row;  
    border: 2px solid var(--TextColor);
    border-radius: 20px;
    animation-name: announcer;
    animation-duration: var(--AnnounceDuration);
}
div.NOTIFY-ICON {
    width: 120px;
    height:100%;
    /* border: 1px solid white; /**/
    margin: auto;    
    color: var(--TextColor);
    font-size: var(--AnnounceIconSize);
    margin: 0;
    margin-left: 0px;
    line-height: 1em;
    margin-left: 10px;
    padding: 5px;


}
div.NOTIFY-MSG {
    flex: 1;
    height:100%;
    /* border: 1px solid white; /**/
    margin:auto;
    font-family:var(--ActiveText);
    font-size: 1.125em;
    color: var(--TextColor);
}