:root {
        /* Setting the height of the interface/menu bar */
    --MenuHeight:           50px;
    --ControlHeight:        min(25vw,100px);

    /* Text configurations */
    --TextSetWidthFixed:    40px;
    --TextSetWidthDynamic:  10vw;
    --TextSize:             1.5em;
    --TextLineHeight:       1.5em;
    --TextMargin:           5vw;
    --DefaultWidth:         600px;
    --SeparatorWidth:       60%;
    
    /* Active theme settings. These are set from   */
    /* the JavaScript program.                     */
    --FallbackTitle:        var(--CodyTitle);
    --FallbackText:          var(--CodyText);
    --ActiveTitle:          var(--CodyTitle);
    --ActiveSub:            var(--CodyText);
    --ActiveSize:           var(--CodySize);
    --TextColor:           black;
    --BackgroundColor:    white;
    --HoverColor:         rgba(12,12,12,0.1);
    --BarColor:           black;
    --BarLength:            0%;
    --IconState:            invert(1);

    /* (legacy) Active color theming */
    --ActivePrimary:        189, 0, 28;
    --ActiveSecondary:      156, 121, 33;

    /* Table-of-contents configurations */
    --TOCEntryHeight:      80px;
    --TOCbackground:       rgba(0,0,0,0.1);

    --Title:                2.5em;
    --Subtitle:             min(2.0em,max(5.5vw,1.2em));/*2.0em;/**/
    --Section:              2.5em;

    --SubtitleAccent:       '  ';
    --SectionAccent:        ' - ';

    /* Special theming: Message bubbles */
    --MsgFont:              "SanFrancisco",'Helvetica Neue','Helvetica';
    --MsgColorTo:         rgba(33, 138, 255, 0.8);
    --MsgFontColorTo:     white;
    --MsgColorFrom:       rgba(216, 216, 216, 0.8);
    --MsgFontColorFrom:   black;

    --ImageWallFore:        None;
    --ImageWallBack:        None;


    /* Layout Characteristics */
    --MenuHeight:           50px;
    --MenuPad:              10px;    
    --FooterHeight:         80px;
    --FooterPad:            10px;
    --BodyStart:            calc(var(--MenuHeight) + var(--MenuPad));
    --BodyHeight:           calc(100dvh - var(--MenuHeight) - var(--MenuPad) - var(--FooterHeight) - var(--FooterPad));
    --ContentWidth:         min(800px,100vw);
    --TypesetMargin:        50px;

    /*============================================*/
/*====={ Title, text, and size variables by story }=====*/
/*======================================================*/

    /*-----[  Styles for Paragate > Cody  ]-----*/
    --CodyTitle:        "Oxanium", sans-serif, "Bahnscrift",'Arial';
    --CodyText:         "Roboto Flex", sans-serif, 'Bahnschrift', 'Arial';
    --CodySize:         calc( var(--TextSize) - 0.10em );

    /*-----[ Styles for Paragate > Katiya ]-----*/
    --KatiyaTitle:      "Cormorant Unicase", serif;
    --KatiyaText:       'Cormorant Infant', serif, 'Lucida Fax', 'Times New Roman';
    --KatiyaSize:       calc(var(--TextSize) + 0.00em );

    /*-----[ Styles for Firebrand > Titus ]-----*/
    --TitusTitle:       "Cormorant Unicase", serif;
    --TitusText:        'Cormorant Infant', serif, 'Lucida Fax', 'Times New Roman';
    --TitusSize:        calc(var(--TextSize) + 0.00em );

/*====={ Announcement/cover styling variables }=====*/
    --CoverParagate: 
                        radial-gradient(
                            rgba(128,128,128,0.8), 
                            rgba(128,128,128,0.4)
                            ), 
                        linear-gradient(
                            to right, 
                            rgba(255, 64, 64, 0.5),
                            rgba(64,64,255,0.5)
                            );
    --CoverFirebrand:
                        radial-gradient(
                            rgba(243, 229, 83, 0.6), 
                            rgba(245, 72, 72, 0.3)
                            ), 
                        linear-gradient(
                            to right, 
                            rgba(237, 28, 28, 0.3),
                            rgba(195,144,212,0.6),
                            rgba(237, 28, 28, 0.3)
                            );
    --CoverGradient:    var(--CoverParagate);
    
/*====={ Transitioning background styles }=====*/
/*====={    (vertically-tiled JPEGs)     }=====*/
    --WallCody:         url("../design/bg-cody.jpg");
    --WallKatiya:       url("../design/bg-kat.jpg");
    --WallTitus:        url("../design/bg-tie.jpg");

/*====={ Theme channel opacities }=====*/
    --CodyOp:           1.00;
    --KatiyaOp:         1.00;
    --TitusOp:          1.00;
    --SpecialOp:        0.00;
}

body {
    /* no scrolling */
    overflow: hidden;
    margin: 0;
}
/*
div {
    border: 1px solid black;
}
div > div {
    border: 1px solid red;
}
    */
div.BACKGROUND {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100dvh;
    background-color: var(--BackgroundColor);
}

div.HEADER {
    position: absolute;
    top:0;
    left:50vw;
    transform: translateX(-50%);
    width: var(--ContentWidth);
    height: var(--MenuHeight); 
}
div.BODY {
    position: absolute;
    top: var(--BodyStart);
    left:50vw;
    transform: translateX(-50%);
    width: var(--ContentWidth);
    height: var(--BodyHeight);
    overflow-x: hidden;
    overflow-y: scroll;    
    /*
    background-color: var(--BackgroundColor);
    background-image: url("../styles/bg-cody.jpg");
    background-size: 100vw auto;
    background-repeat:repeat;
    background-position:top center;
    */
}
div.TYPESET {
    position: relative;
    width: calc(100% - (var(--TypesetMargin) * 2));
    left: calc( 0.5 * var(--ContentWidth));
    transform: translateX(-50%);
}

img.hrdiv {
    position:relative;
    top:0;    
    left: 25%;
    width: min(50%,300px);
    cursor: pointer;        
    filter: drop-shadow(1000vw 0 var(--TextColor));
    transform: translateX(-1000vw);
}

/* Background image for active theme */
div.imgbg {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;        
    opacity:10%;
}
div.layer1 {
    background-image: var(--ImageWallFore);      
    filter:             var(--IconState);
    mix-blend-mode:     hard-light;
}
div.layer2 {
    background-image: var(--ImageWallBack);      
    filter:             var(--IconState);
    mix-blend-mode:     hard-light;
}

div.FOOTER {
    display: grid;
    grid-template:
        'progress progress progress'
        'left info right';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 100px auto 100px;
    width:auto;
    position: absolute;
    bottom:0;
    left:50vw;
    transform: translateX(-50%);
    width: var(--ContentWidth);
    height: var(--FooterHeight); 
    text-align: center;
}
div.PROGRESS {
    grid-area: progress;    
    height:10px;
}
    div.BARBG, div.BARFG {
        border-radius: 5px;
    }
    div.BARBG {
        position:relative;
        padding-top: 10px;
        left:50%;
        transform: translateX(-50%);
        width:90%;
        height:100%;
        background-color: var(--BackgroundColor);
    }
    div.BARFG {
        position: relative;
        height:100%;
        left: 0;
        width: max(10px,var(--BarLength));
        background-color: var(--BarColor);
    }
div.CONTROLS {
    grid-area: info;
    display: grid;
    grid-template:
        'chapter'
        'chname';
}
    div.IDCHAPTER, div.IDNAME {
        color: var(--TextColor);
        white-space: nowrap;
    }
    div.IDCHAPTER {
        grid-area: chapter;        
        font-family: var(--ActiveSub); 
        font-size: 1em;

    }
    div.IDNAME {
        grid-area: chname;        
        font-family: var(--ActiveTitle);  
        font-size: 1em;
    }

div.PREVIOUS, div.NEXT {
    color: var(--TextColor);
    font-family: var(--ActiveTitle);
    white-space: nowrap;
}
div.PREVIOUS {
    grid-area: left;
    margin: auto;
}
div.NEXT {
    grid-area: right;
    margin: auto;
}

/*
div._FULL {
    display: grid;
    grid-template:
            'a_left a_head a_head a_head a_right'
            'a_left a_body a_body a_body a_right'
            'a_left a_foot a_foot a_foot a_right';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position:absolute;
    width:100vw;
    height:100dvh;
    left:-50vw;
    top:0;
    transform: translateX(50vw);
    overflow:hidden;
}
div._HEADER {
    grid-area: a_head;
    background-color: var(--BackgroundColor);
    height:var(--MenuHeight);        
    width:auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
}
div._LEFT {
    grid-area: a_left;
    position: relative;
    left:0px;
}
div._RIGHT {
    grid-area: a_right;
    position: relative;
    right:0px;
}
div._LEFT, div._RIGHT {
    width: max(calc((100vw - var(--DefaultWidth))/2),var(--TextMargin))
}
div._FOOTER {
    grid-area: a_foot;
    display: inline-flex;
    flex-direction: column;
    height:min(35vw,120px);
}
div._BODY {
    grid-area: a_body;
    height: calc(100dvh - 100px - min(35vw,120px));
    width: min(var(--DefaultWidth), calc( 100vw - (var(--TextMargin) * 2) ));
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
@media only screen and (max-width: 600px) {
        div._FULL {
            grid-template:
                'a_head a_head a_head'
                'a_left a_body a_right'
                'a_foot a_foot a_foot';
        }
        div._LEFT div._RIGHT {

            width:5px;
        }
        div._BODY {
            width:100%;
        }
    }

    */