:root {
    /* Active theme settings. These are set from   */
    /* the JavaScript program.                     */
    --ActiveTitle:          var(--CodyTitle);
    --ActiveSub:            var(--CodyText);
    --ActiveSize:           var(--CodySize);
    --TextColor:           black;
    --BackgroundColor:    white;
    --HoverColor:         rgba(12,12,12,0.1);
    --BarColor:           black;
    --IconState:            invert(1);

    /* Layout Characteristics */
    --MenuHeight:           50px;
    --MenuPad:              10px;    
    --FooterHeight:         80px;
    --FooterPad:            10px;
    --BodyStart:            calc(var(--MenuHeight) + var(--MenuPad));
    --BodyHeight:           calc(100dvh - var(--MenuHeight) - var(--MenuPad) - var(--FooterHeight) - var(--FooterPad));
    --ContentWidth:         min(800px,100vw);
    --TypesetMargin:        50px;

    /*============================================*/
/*====={ Title, text, and size variables by story }=====*/
/*======================================================*/

    /*-----[  Styles for Paragate > Cody  ]-----*/
    --CodyTitle:        "Oxanium", sans-serif, "Bahnscrift",'Arial';
    --CodyText:         "Roboto Flex", sans-serif, 'Bahnschrift', 'Arial';
    --CodySize:         calc( var(--TextSize) - 0.10em );

    /*-----[ Styles for Paragate > Katiya ]-----*/
    --KatiyaTitle:      "Cormorant Unicase", serif;
    --KatiyaText:       'Cormorant Infant', serif, 'Lucida Fax', 'Times New Roman';
    --KatiyaSize:       calc(var(--TextSize) + 0.00em );

    /*-----[ Styles for Firebrand > Titus ]-----*/
    --TitusTitle:       "Cormorant Unicase", serif;
    --TitusText:        'Cormorant Infant', serif, 'Lucida Fax', 'Times New Roman';
    --TitusSize:        calc(var(--TextSize) + 0.00em );

/*====={ Announcement/cover styling variables }=====*/
    --CoverParagate: 
                        radial-gradient(
                            rgba(128,128,128,0.8), 
                            rgba(128,128,128,0.4)
                            ), 
                        linear-gradient(
                            to right, 
                            rgba(255, 64, 64, 0.5),
                            rgba(64,64,255,0.5)
                            );
    --CoverFirebrand:
                        radial-gradient(
                            rgba(243, 229, 83, 0.6), 
                            rgba(245, 72, 72, 0.3)
                            ), 
                        linear-gradient(
                            to right, 
                            rgba(237, 28, 28, 0.3),
                            rgba(195,144,212,0.6),
                            rgba(237, 28, 28, 0.3)
                            );
    --CoverGradient:    var(--CoverParagate);
    
/*====={ Transitioning background styles }=====*/
/*====={    (vertically-tiled JPEGs)     }=====*/
    --WallCody:         url("../design/bg-cody.jpg");
    --WallKatiya:       url("../design/bg-kat.jpg");
    --WallTitus:        url("../design/bg-tie.jpg");

/*====={ Theme channel opacities }=====*/
    --CodyOp:           1.00;
    --KatiyaOp:         1.00;
    --TitusOp:          1.00;
    --SpecialOp:        0.00;
}

body {
    /* no scrolling */
    overflow: hidden;
    margin: 0;
}

div {
    border: 1px solid black;
}
div > div {
    border: 1px solid red;
}
div.BACKGROUND {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100dvh;
    background-color: var(--BackgroundColor);
}

div.HEADER {
    position: absolute;
    top:0;
    left:50vw;
    transform: translateX(-50%);
    width: var(--ContentWidth);
    height: var(--MenuHeight); 
}
div.BODY {
    position: absolute;
    top: var(--BodyStart);
    left:50vw;
    transform: translateX(-50%);
    width: var(--ContentWidth);
    height: var(--BodyHeight);
    overflow-x: hidden;
    overflow-y: scroll;    
    /*
    background-color: var(--BackgroundColor);
    background-image: url("../styles/bg-cody.jpg");
    background-size: 100vw auto;
    background-repeat:repeat;
    background-position:top center;
    */
}
div.TYPESET {
    position: relative;
    width: calc(100% - (var(--TypesetMargin) * 2));
    left: calc( 0.5 * var(--ContentWidth));
    transform: translateX(-50%);
}
div.FOOTER {
    position: absolute;
    bottom:0;
    left:50vw;
    transform: translateX(-50%);
    width: var(--ContentWidth);
    height: var(--FooterHeight); 
}

/*
div._FULL {
    display: grid;
    grid-template:
            'a_left a_head a_head a_head a_right'
            'a_left a_body a_body a_body a_right'
            'a_left a_foot a_foot a_foot a_right';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position:absolute;
    width:100vw;
    height:100dvh;
    left:-50vw;
    top:0;
    transform: translateX(50vw);
    overflow:hidden;
}
div._HEADER {
    grid-area: a_head;
    background-color: var(--BackgroundColor);
    height:var(--MenuHeight);        
    width:auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
}
div._LEFT {
    grid-area: a_left;
    position: relative;
    left:0px;
}
div._RIGHT {
    grid-area: a_right;
    position: relative;
    right:0px;
}
div._LEFT, div._RIGHT {
    width: max(calc((100vw - var(--DefaultWidth))/2),var(--TextMargin))
}
div._FOOTER {
    grid-area: a_foot;
    display: inline-flex;
    flex-direction: column;
    height:min(35vw,120px);
}
div._BODY {
    grid-area: a_body;
    height: calc(100dvh - 100px - min(35vw,120px));
    width: min(var(--DefaultWidth), calc( 100vw - (var(--TextMargin) * 2) ));
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
@media only screen and (max-width: 600px) {
        div._FULL {
            grid-template:
                'a_head a_head a_head'
                'a_left a_body a_right'
                'a_foot a_foot a_foot';
        }
        div._LEFT div._RIGHT {

            width:5px;
        }
        div._BODY {
            width:100%;
        }
    }

    */