grid-template-rows: 150px 150px;
grid-template-columns: 150px 150px 150px 70px;
grid-gap: 1rem;

.container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  grid-gap: 1rem;
}
