.grid-container { 
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  
}
.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
.grid-item3 {
  grid-column-start: 1;
  grid-column-end: 4;
}
body {
	background-image: url("autononymous.github.io/Ryan/rkdocs/bgrepeat.jpg");
    background-repeat: repeat;
}